


<form class="" action="computer_play" method="post">

  <h2>Select difficulty level for Computer 1</h2><br>
  <select name="difficulty_selection1" required>
    <option value="1">Random</option>
    <option value="2">Sequential</option>
    <option value="3">Unbeatable</option>
  </select>

  <h2>Select difficulty level for Computer 1</h2><br>
  <select name="difficulty_selection2" required>
    <option value="1">Random</option>
    <option value="2">Sequential</option>
    <option value="3">Unbeatable</option>
  </select>

  <input type="submit" value="Submit">
</form>
