<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<body>
						<img  src="/header_pic.gif" class="top">
			<div class="flex-container">

		<%= yield %>
	</div>
	</body>
</html>
