<h1>Pick the kind of game you would like to play...</h1>

<form class="" action="welcome" method="post">
  <input type="radio" name="game_type" value="computer" required>Computer VS Computer<br>
  <input type="radio" name="game_type" value="human" required>Human VS Human or Computer<br>
  <input type="submit" name="" value="Select">
</form>
