

<h1>Welcome to Gooden's TicTacToe!</h1>
<h2>May the fork be with you!</h2>

<form action="play" id="info" method="post">
  <h2>How many players?</h2>
  <input type="radio" id="radio1" name="number_of_players" value="1" onclick="reset_page('one');onePlayer();getDifficulty()" required> One<br>

  <input type="radio" name="number_of_players" value="2" onclick="reset_page('two');twoPlayer()" required> Two<br><br>

    <div id="two_player_div"></div>

    <div id="one_player_div"></div>

    <div id="difficulty_message"></div>

    <div id="difficulty_levels"></div><br>

    <input type="submit" name="" value ="Let's Play">
</form>

<script type="text/javascript" src="tictactoe.js"></script>
